<div class="modal-header">
    
    <button type="button" class="close" ng-click="$ctrl.ok();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <button type="button" class="btn btn-primary" onclick="window.print();" style="float:right; margin-right:25px;">Natisni</button>
    <h4 class="modal-title">{{ $ctrl.dialectData.location_name }} ({{ $ctrl.dialectData.location_label }}) - {{ $ctrl.dialectData.dialect_key | nameDialect }}, {{ $ctrl.dialectData.dialect_key | nameDialectGroup }}</h4>
    <pre class="location-metadata">{{ $ctrl.dialectData.metadata }}</pre>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div id="play-pause" ng-click="$ctrl.wavesurfer.playPause()"></div>
            <ng-wavesurfer url="{{$ctrl.dialectData.audio}}" wave-color="#337ab7" progress-color="#23527c" height="128" scroll-parent="true" style="height:128px;">
                <!--<progress id="progress" class="progress progress-striped" value="0" max="100" style="width:100%;"></progress>-->
            </ng-wavesurfer>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h4>Transkripcija</h4>
            <div id="transkripcija">{{ $ctrl.dialectData.transcription }}</div>
        </div>
        <div class="col-xs-12 col-md-6">
            <h4>Poknjižitev</h4>
            <div id="poknjizitev">{{ $ctrl.dialectData.standard_slovene }}</div>
        </div>
        <div class="col-xs-12" ng-if="$ctrl.dialectData['analysis1']">
            <h4>Analiza</h4>
            
            <table class="table table-bordered" id="analiza">
                <tbody ng-repeat="i in [1,2,3,4,5,6,7]">
                    <tr class="tr-head">
                        <td>{{i}}</td>
                        <td colspan="2">{{ $ctrl.dialectData["analysis"+i] }}</td>
                    </tr>
                    <tr ng-repeat="a in $ctrl.analysisData[i]" class="analysis-items">
                        <td>{{i}}.{{$index+1}}</td>
                        <td>{{a.maintext}}</td>
                        <td>{{a.examples}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="window.print();">Natisni</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.ok();">Zapri</button>
</div>