@font-face {
    font-family: zrcola;
    src: url('fonts/zrcolare.woff2') format('woff2'),
         url('fonts/zrcolare.woff') format('woff');
}
@font-face {
    font-family: zrcolabd;
    src: url('fonts/zrcolabd.woff2') format('woff2'),
         url('fonts/zrcolabd.woff') format('woff');
}
@font-face {
    font-family: zrcolabi;
    src: url('fonts/zrcolabi.woff2') format('woff2'),
         url('fonts/zrcolabi.woff') format('woff');
}
@font-face {
    font-family: zrcolait;
    src: url('fonts/zrcolait.woff2') format('woff2'),
         url('fonts/zrcolait.woff') format('woff');
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

textarea{
    resize: vertical;
}
textarea[name="transcription"], textarea[name="literal_slovene"], #analiza textarea {
    font-family: zrcola;
    font-size: 1.2em;
}

h1{
    text-align: center;
}

tr.tr-head{
    background-color: #efefef;
}

.panel{
    min-height: 500px;
}

h1{
    margin-bottom: 30px;
}
.toolbar{
    position: absolute;
    top: 25px;
    right: 16px;
}

.toolbar-bottom{
    margin-bottom: 30px;
    text-align: center;
}

label{
    margin-top: 10px;
}

.auth_container{
    text-align: center;
}

.auth_container>form{
    width: 200px;
    margin: 0 auto;
}