/*
 * Edited by:     Nermin Jukan, 63150367
 * Date:          17. 05. 2018
 * Modifications: Edited 'h1' tag's attributes; changed the padding to "2px 5px" and border radius to "2px".
*/

@font-face {
    font-family: zrcola;
    src: url('fonts/zrcolare.woff2') format('woff2'),
         url('fonts/zrcolare.woff') format('woff');
}
@font-face {
    font-family: zrcolabd;
    src: url('fonts/zrcolabd.woff2') format('woff2'),
         url('fonts/zrcolabd.woff') format('woff');
}
@font-face {
    font-family: zrcolabi;
    src: url('fonts/zrcolabi.woff2') format('woff2'),
         url('fonts/zrcolabi.woff') format('woff');
}
@font-face {
    font-family: zrcolait;
    src: url('fonts/zrcolait.woff2') format('woff2'),
         url('fonts/zrcolait.woff') format('woff');
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

#transkripcija, #analiza, #poknjizitev,
#print_transkripcija, #print_analiza, #print_poknjizitev {
    font-family: zrcola;
    font-size: 1.2em;
    word-break: keep-all;
}

.location-metadata{
    margin-top: 15px;
}

h1{
    text-align: center;
}

#title{
    position: absolute;
    top: 15px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
h1{
	margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 2px;
    display: inline;
    padding: 2px 5px;
    font-size: 24px;
}
h1:hover{
	background-color: #fff;
	transition:	all 0.2s linear;
}

#o-projektu{
	position:absolute;
	top: 9px;
	right: 15px;
	background-color: rgba(255,255,255,1);
	padding:5px 10px;
	transition: all 0.2s linear;
	border-radius: 2px;
	cursor: pointer;
}
#o-projektu:hover{
	background-color: #fff;
}

#legenda{
	position:absolute;
    top: 80px;
    bottom: 80px;
	right: 10px;
    overflow-y: auto;
	
    border-radius: 2px;
	transition: all 0.2s linear; 
}
#legenda:hover{
	background-color: #fff;	
}
#legenda>div{
    padding: 5px 10px;
}
.legenda-box{
	width: 25px;
	height: 20px;
	margin-bottom: 5px;
	margin-left: 5px;
	cursor: pointer;
	float: right;
}
.legenda-box:hover{
	border: 3px solid black;
}
#legenda span{
	line-height: 25px;
}
.legenda-dialects{
    margin-left: 10px;
}
.legenda-dialect::before{
    content: '*';
}
.legenda-subdialects{
    margin-left: 10px;
}
.legenda-subdialect::before{
    content: '-';
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    color: #b23636;
}

#gorenjska_narecna_skupina{ background-color:rgba(210,160,252,0.7) /* #d2a0fc #56089e; rgba(144,0,144,0.3);*/ }
#dolenjska_narecna_skupina{ background-color: rgba(255,153,0,0.7) /* rgba(199,126,90,0.7) /* #c77e5a /*#d10a4c; rgba(209,10,76,0.3);*/ }
#stajerska_narecna_skupina{ background-color: rgba(176,239,145,0.7) /*#b0ef91 /*#12d315; rgba(18,211,21,0.3);*/ }
#panonska_narecna_skupina{ background-color: rgba(255,255,123,0.7) /*#ffff7b /*#e9e342; rgba(233,227,66,0.3);*/ }
#koroska_narecna_skupina{ background-color: rgba(249,186,228,0.7) /*#f9bae4 /*#5b1659; rgba(255,127,255,0.3);*/ }
#primorska_narecna_skupina{ background-color: rgba(255,198,172,0.7) /*#ffc6ac /*#c58824; rgba(197,136,36,0.3);*/ }
#rovtarska_narecna_skupina{ background-color: rgba(164,205,255,0.7) /*#a4cdff /*#0855ff; rgba(8,85,255,0.3);*/ }

#info-box-wrap{
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}
#info-box{
    font-size: 1.5em;
    position: relative;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 0 auto;
    display: inline;
}

.map-icon-label .map-icon {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}
.modal-dialog.modal-wide {
    width: 90%;
    max-width: 1200px;
}
/*.modal-wide .modal-body {
    overflow-y: auto;
}*/

#play-pause{
	float:left;
	width:128px;
	height:128px;
	background-image:url(https://d30y9cdsu7xlg0.cloudfront.net/png/86425-200.png);
	background-size:50%;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
}
#play-pause:hover{
	background-color:#eee;
}

tr.tr-head{
    background-color: #efefef;
}
tr.analysis-items>td:nth-child(2), tr.analysis-items>td:nth-child(3){
    width: 50%;
}

.leaflet-div-icon{
    background: transparent;
    border: none;
}

@media screen and (max-width: 1000px) {
    .hidden-mobile{
        display: none;
    }
}

/* PRINT STYLES */
.printable {
    display: none;
}

@media print {

    body{
        margin-bottom: 55mm;
    }
    body * {
        visibility: hidden;
    }
    .printable {
        display: block;
    }
    .printable, .printable * {
        visibility: visible;
    }
    .printable {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0 5%;
    }
    .printable .row{
        margin-bottom:50mm;
    }
    .printable .row>div {
        width:100%;
        margin-top:5mm;
    }

    .print-title{
        font-size: 1.4em;
    }
    .print-footer {
        position: fixed;
        bottom: 0px;
        text-align: center;
    }

}


