<!---
* Edited by:     Nermin Jukan, 63150367
* Date:          17. 05. 2018
* Modifications: Added a new heading 'h2' tag with text 'Stara kmečka hiša'.

--->

<leaflet id="karta" width="100%" height="100%" center="$ctrl.center" geojson="$ctrl.geojson" markers="$ctrl.markers" maxbounds="$ctrl.maxBounds"></leaflet>

<div id="main">

    <div id="title" class="hidden-mobile">
	    <h1>Interaktivna karta slovenskih narečnih besedil<br>Stara kmečka hiša</h1>
    </div>

    <div id="o-projektu" ng-click="$ctrl.openAboutModal()">O spletni aplikaciji</div>

    <dialect-legend></dialect-legend>

    <div id="info-box-wrap">
        <div id="info-box">{{ $ctrl.info | nameDialect }}<span ng-if="$ctrl.info | nameDialectGroup">, {{ $ctrl.info | nameDialectGroup }}</span></div>
    </div>

</div>

<print></print>