<div class="container printable">
    <div class="row">

        <div class="col-xs-12">
            <h4 class="print-title">
                Interaktivna karta slovenskih narečnih besedil, Stara kmečka hiša:<br>
                {{ $ctrl.dialectData.location_name }} ({{ $ctrl.dialectData.location_label }}) - {{ $ctrl.dialectData.dialect_key | nameDialect }}, {{ $ctrl.dialectData.dialect_key | nameDialectGroup }}</h4>
        </div>

        <div class="col-xs-12">
            <h4>Komentar</h4>
            <div id="print_meta"><pre>{{ $ctrl.dialectData.metadata }}</pre></div>
        </div>

        <div class="col-xs-12">
            <h4>Transkripcija</h4>
            <div id="print_transkripcija">{{ $ctrl.dialectData.transcription }}</div>
        </div>

        <div class="col-xs-12">
            <h4>Poknjižitev</h4>
            <div id="print_poknjizitev">{{ $ctrl.dialectData.standard_slovene }}</div>
        </div>

        <div class="col-xs-12">
            <h4>Analiza</h4>
            <table class="table table-bordered" id="print_analiza">
                <tbody ng-repeat="i in [1,2,3,4,5,6,7]">
                    <tr class="tr-head">
                        <td>{{i}}</td>
                        <td colspan="2">{{ $ctrl.dialectData["analysis"+i] }}</td>
                    </tr>
                    <tr ng-repeat="a in $ctrl.analysisData[i]" class="analysis-items">
                        <td>{{i}}.{{$index+1}}</td>
                        <td>{{a.maintext}}</td>
                        <td>{{a.examples}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>