<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.close();"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">O spletni aplikaciji</h4>
</div>
<div class="modal-body">

        <h3>Avtor</h3>
        <p>Avtor spletne aplikacije je Ivan Lovrić, študent Fakultete za računalništvo in informatiko Univerze v Ljubljani. Aplikacijo je izdelal v okviru diplomske naloge v letu 2018 pod mentorstvom viš. pred. dr. Alenke Kavčič (UL FRI) in somentorstvom prof. dr. Vere Smole (UL FF).</p>
		<p>Izdelano spletno aplikacijo je z dodatnimi funkcionalnostmi nadgradil Nermin Jukan, študent Fakultete za računalništvo in informatiko Univerze v Ljubljani, v okviru predmeta Računalništvo v praksi I pod mentorstvom viš. pred. dr. Alenke Kavčič (junij 2018).</p>
        <p>&nbsp;</p>
		
        <h3>Aplikacija</h3>
        <p><strong>Interaktivna karta slovenskih narečnih besedil / Interactive map of Slovenian dialectal texts</strong>
        <br>Copyright &copy; 2018 Ivan Lovrić (ivan@lovric.si): originalna implementacija
		<br>Copyright &copy; 2018 Nermin Jukan: nadgradnja funkcionalnosti</p>
        
        <p>Ta program spada med prosto programje; lahko ga razširjate in/ali spreminjate pod pogoji Splošnega dovoljenja GNU (GNU General Public License), različice 3, kot ga je objavila ustanova Free Software Foundation.</p>
        <p>Ta program se razširja v upanju, da bo uporaben, vendar BREZ VSAKRŠNEGA JAMSTVA; tudi brez posredne zagotovitve CENOVNE VREDNOSTI ali PRIMERNOSTI ZA DOLOČEN NAMEN. Za podrobnosti glejte besedilo GNU General Public License.</p>
        <p>Skupaj s tem programom bi morali prejeti izvod Splošnega dovoljenja GNU (GNU General Public License). Podrobnosti licence so dostopne tudi na spletni strani <a href="http://www.gnu.org/licenses" target="_blank">http://www.gnu.org/licenses</a>.</p>
                
        <p>Izvorna koda aplikacije je dosegljiva v repozitoriju Bitbucket: <a href="https://bitbucket.org/ul-fri-lgm/iknb" target="_blank">https://bitbucket.org/ul-fri-lgm/iknb</a>.</p>
		<p>&nbsp;</p>

        <h3>Karta slovenskih narečij</h3>
        <p>Interaktivna karta slovenskih narečnih besedil (IKNB) temelji na Karti slovenskih narečij. Karto sta priredila Tine Logar in Jakob Rigler (1983) na osnovi Dialektološke karte slovenskega jezika Frana Ramovša (1931), novejših raziskav in gradiva Inštituta za slovenski jezik ZRC SAZU, jo dopolnili Vera Smole in Jožica Škofic (2011) in nato še sodelavci Dialektološke sekcije ISJFR ZRC SAZU (2016).</p>
        
        <p>&copy; Inštitut za slovenski jezik Frana Ramovša ZRC SAZU, Geografski inštitut Antona Melika ZRC SAZU ter Inštitut za antropološke in prostorske študije ZRC SAZU, 2016 </p>
		<p>&nbsp;</p>
        
        <h3>Pisava ZRCola</h3>
        <p>Besedilo je bilo pripravljeno z vnašalnim sistemom ZRCola (<a href="http://zrcola.zrc-sazu.si" target="_blank">http://zrcola.zrc-sazu.si</a>), ki ga je na Znanstvenoraziskovalnem centru SAZU v Ljubljani (<a href="http://www.zrc-sazu.si" target="_blank">http://www.zrc-sazu.si</a>) razvil Peter Weiss. Po letu 2015 ga dopolnjuje Janoš Ježovnik.</p>
        <p>&nbsp;</p>

        <h3>Vsebina (posnetki, transkripcije, poknjižitve in analize)</h3>
        <p>Vsebino za Interaktivno karto slovenskih narečnih besedil (IKNB) za temo Stare kmečke hiše so zbrali in pripravili študenti Oddelka za slovenistiko Filozofske fakultete Univerze v Ljubljani. Zvočne posnetke, transkripcije in poknjižitve besedil so prispevali študentje izbirnega predmeta Slovenska narečja pod vodstvom prof. dr. Vere Smole in asist. dr. Mojce Kumin Horvat (do 2018), analize pa študentje izbirnega predmeta Poglavja iz zgodovine slovenskega glasoslovja in seminarja pri predmetu Slovenska dialektologija pod vodstvom prof. dr. Vere Smole. Vsebina za prvih 31 krajev je bila vnesena leta 2018, večina pa leta 2020, ko je bila konec novembra, tj. ob koncu 100. obletnice Univerze v Ljubljani in v njeno počastitev, dosežena številka 100. Poleg študentov je posnetke poslalo še nekaj nekdanjih študentov UL, transkripcije in poknjižitve besedil pa je opravila Vera Smole. IKNB za temo Stare kmečke hiše je besedilni dodatek SLA 2 <i>Kmetija</i> (ŠKOFIC, Jožica ... [et. al.] <i>Slovenski lingvistični atlas</i>, 2. zvezek: 2.1 <i>Atlas</i> in 2.1 <i>Komentarji</i>, Založba ZRC: 2016), saj izhodiščno besedilo v knjižnem jeziku (glej spodaj) zajema del te vsebine in je nastalo v času njegove priprave. Aplikacija oziroma njena vsebina je nastala na osnovi brošure <i>Stara kmečka hiša: Narečna besedila z analizo I</i>, natisnjene v 25. izvodih jeseni leta 2016 za 3. Slovenski dialektološki posvet (ZRC SAZU in FF UL), ko je izšel SLA 2 in ko smo obhajali 100-letnico rojstva akademika, zaslužnega prof. dr. Tineta Logarja FF UL, ki je bil tudi avtor prve zbirke narečnih besedil v zapisu in posnetkih <i>Slovenska narečja</i> (MK: 1975, 1993).</p>
		
        <p>Vsem študentom, preteklim in bodočim, in njihovim informatorjem se zahvaljujemo za sodelovanje in njihov prispevek. IKBN je rastoča aplikacija; želimo zapolniti tudi manj pokrita območja in izboljšati morebitne slabše posnetke, zato vabimo k sodelovanju vse zainteresirane; pišite na elektronski naslov: <a href="mailto:vera.smole@guest.arnes.si">vera.smole@guest.arnes.si</a>.</p>
		<p>&nbsp;</p>

		<h4>Izhodiščno besedilo v knjižnem jeziku (sestavila Vera Smole po delu vprašalnice za SLA, ki jo je sestavil Fran Ramovš)</h4>
		<p><b>Stare kmečke hiše</b><br>
        Nekoč so bile hiše precej drugačne. Niso bile tako velike in visoke, kot so sedaj. Imele so majhna okna in ... (? slamnate, iz skodel ...) strehe. Jaz se ene take še spomnim. Bila je ... (? lesena zidana ...) in ko si vstopil, je bila najprej ... (? veža ...), potem pa ... (? črna kuhinja ...), kjer je bilo ... (? ognjišče za krušno peč ...). Iz ... (? veže...) se je šlo na eno stran v ... (? dnevni prostor – hišo ...), naprej pa še v ... (? štibeljc ...). V ... (? hiši ...) je bila v enem kotu miza s ? klopmi (in klopi ...) in kakšen stol, v drugem pa ... (? peč), ki je imela tudi ... (? dva zapečka ...) in ... (? klop ...). V tem prostoru je bila še ... (? postelja), kjer sta spala ... (... mama in ata), zraven ... (? v zibki ...) pa najmanjši otrok. Obleke (? cunj ...) niso imeli veliko. Spravljena je bila ... (? v skrinji ...) in še kakšni ... (? omari ...) ... (? v štibeljcu ...). Nekateri so imeli še ... (? zidne omarice), v njih pa ... (? blagoslovljeno vodo) in ... (kakšno žganje za domača zdravila). Tla so bila ... (? lesena ...), v ... (črni kuhinji ...) lahko še ... (? ilovnata ali kasneje betonska ali iz opeke). V hiši je bila še ... (? shramba, špajz ...), včasih pa tudi ... (? klet, kevder...). Stranišče je bilo ... (? zunaj ...), rekli smo mu ... (sekret ...). Nekatere hiše so imele ? en prostor za spat še zgoraj, temu se je reklo ... (izba ...). Gor se je prišlo po ... (? stopnicah ...). Pri nekaterih hišah so pozimi sušili meso, viselo je ... (? v sušilnici, v šijah ...). Prostoru pod streho smo rekli ... (? podstrešje ...).  Zraven hiše je bil še ... (? hlev za živino, ? svinjaki, ? skedenj, ? kozolec, ? kašča, ? kokošnjak, ? čebelnjak, ? listnica ...) in še kaj.
		</p>
        <p>&nbsp;</p>
        
        <small>Zadnja sprememba aplikacije: julij 2018</small>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.close();">Zapri</button>
</div>